In [1]:
import pandas as pd

In [5]:
df = pd.DataFrame({
    'Cloudy': [1,1,1,0,0,0],
    'Sprinkler': [1,1,0,1,1,0],
    'Rain': [1,1,0,0,0,0],
    'Wet':[1,1,0,1,1,0]
})

In [6]:
df

   Cloudy  Sprinkler  Rain  Wet
0       1          1     1    1
1       1          1     1    1
2       1          0     0    0
3       0          1     0    1
4       0          1     0    1
5       0          0     0    0

RangeIndex(start=0, stop=4, step=1)